.footer {
  background-color: #E9DCD1;

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0;

    .top {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .text-1 {
        font-size: 24px;
        font-weight: 400;
        font-family: $secondary-font;
      }

      .logo-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 100px;

        img {
          width: 15%;
          height: 50px;
        }
      }
    }
  }
}
