.category-section {
  //   max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff8ef;

  p {
    color: #050505;
    font-family: $secondary-font;
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: justify;
  }

  .category-title {
    font-family: $secondary-font;
    text-align: center;
    color: #050505;
  }

  .category-tab {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .tab {
      background-color: white;
      color: #96644d;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #7a4a3a;
        color: white;
      }
    }

    .tab.active {
      background-color: #7a4a3a;
      color: white;
    }
  }
}
