.post-content {
  //   max-width: 1250px;
  margin: 0 auto;
  background-color: #fff8ef;

  .wp-block-image {
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    padding: 0 300px;
    color: #050505;
    font-family: $secondary-font;
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: justify;
  }

  .post-meta {
    display: flex;
    padding: 50px 300px 0 ;
    gap: 20px;

    p {
      color: #7d7d7d;

      padding: 0%;
    }
  }
}
