.post-section {
  //   max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff8ef;

  p {
    color: #050505;
    font-family: $secondary-font;
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: justify;
  }

  .hero-figure {
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  .container {
    display: flex;
    width: 100%;
    gap: 50px;
    //    padding: 0 3rem;

    .left {
      flex: 3;
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;

      .info-box {
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // padding: 20px;
          p {
            font-family: $primary-font;
            font-size: 1.3rem;
            font-weight: bold;
            color: #050505;
            margin: 0;
          }

          a {
            font-family: $secondary-font;
            font-size: 1rem;
            color: #050505;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .info-content {
          display: flex;
          flex-direction: column;

          .info-card {
            margin-bottom: 20px;

            img {
              width: 100%;
              height: auto;
              border-radius: 8px;
              margin-bottom: 10px;
            }
          }

          .info-title {
            font-family: $secondary-font;
            font-size: 1.3rem;
            font-weight: bold;
            color: #050505;
            margin: 0 0 5px 0;
            text-decoration: none;
          }

          .info-meta{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              font-family: $secondary-font;
              font-size: 1rem;
              color: #7d7d7d;
              margin: 0;
            }

            .info-category{
              text-transform: capitalize;
            }
          }
        }
      }

      .music-box {
        .music-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // padding: 20px;
          p {
            font-family: $primary-font;
            font-size: 1.2rem;
            font-weight: bold;
            color: #050505;
            margin: 0;
          }

          a {
            font-family: $secondary-font;
            font-size: 0.9rem;
            color: #050505;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .facebook-box {
        .facebook-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // padding: 20px;
          p {
            font-family: $primary-font;
            font-size: 1.2rem;
            font-weight: bold;
            color: #050505;
            margin: 0;
          }

          a {
            font-family: $secondary-font;
            font-size: 0.9rem;
            color: #050505;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .post-meta {
    display: flex;
    // padding: 50px 0 0 300px;
    justify-content: space-between;

    p {
      color: #7d7d7d;

      padding: 0%;
    }
  }
}

